<div [ngClass]="isMobile ? '':'content-desktop'">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Quản lý bài tập</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="row">
    <div class="col-xs-6 padding-left-0">
      <button mat-flat-button color="success" class="margin-right-5">Primary</button>
    </div>
    <div class="col-xs-6 padding-right-0">
      <button mat-flat-button color="primary">Primary</button>
    </div>
  </div>
  <button mat-flat-button color="light-blue" (click)="openDialogAddLesson()" class="btn-huge-large">Thêm bài tập <i
      class="far fa-calendar-plus icon-fa-huge-large"></i></button>
  <mat-divider></mat-divider>

  <!-- <div *ngIf="exercises.length === 0">
   {{ message.message.have_not_exercise }}
</div> -->
  <div *ngFor="let item of exercises">
    <app-exercise [exercise]="item"></app-exercise>
  </div>
</div>
