<h1 mat-dialog-title><i class="fal fa-edit"></i> Thêm nhóm mới</h1>
<div mat-dialog-content>
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>Tên nhóm</mat-label>
      <input matInput [formControl]="name" [(ngModel)]="class.name" placeholder="Tên nhóm" />
      <mat-error *ngIf="name.invalid && isSubmit">{{ message.error.name }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lứa tuổi </mat-label>
      <input matInput [formControl]="age" [(ngModel)]="class.age" type="number" placeholder="Lứa tuổi" />
      <mat-error *ngIf="age.invalid && isSubmit">{{ message.error.age }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Số lượng</mat-label>
      <input matInput [formControl]="numberal" [(ngModel)]="class.number" type="number" placeholder="Số lượng" />
      <mat-error *ngIf="numberal.invalid && isSubmit">{{ message.error.numberal }}</mat-error>
    </mat-form-field>
  </div>
</div>
<div class="row margin-top-10">
  <div class="col-xs" style="padding-right: 10px;">
    <button mat-flat-button [mat-dialog-close]>Đóng</button>
  </div>
  <div class="col-xs end-xs">
    <button mat-flat-button color="light-blue" (click)="createTeam()">Tạo</button>
  </div>
</div>
