  <div [ngClass]="isMobile ? 'outside-access-view' : 'outside-access-view outside-view-desktop'">
      <div class="center-xs">
          <img src="./../../../../assets/login-logo.svg" [ngClass]="isMobile ? 'big-logo-outside-mobile' : 'self-middle-logo big-logo-outside'" width="90%" />
        </div>
    <div class="user-access-title margin-left-25">Đăng ký</div>
    <div class="form margin-top-20 padding-left-right-25">
      <mat-form-field appearance="outline">
        <mat-label>Tài khoản</mat-label>
        <input matInput placeholder="Tên tài khoản..." />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Địa chỉ email..." />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu</mat-label>
        <input type="password" matInput placeholder="Nhập mật khẩu..." />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Họ Đệm</mat-label>
        <input matInput placeholder="..." />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tên</mat-label>
        <input matInput placeholder="..." />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ngày sinh</mat-label>
        <input matInput type="date" placeholder="..." />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Số điện thoại</mat-label>
        <input matInput placeholder="..." />
      </mat-form-field>
      <button mat-flat-button color="success" (click)="regis()">ĐĂNG KÝ</button>

      <button mat-flat-button color="light-blue" (click)="login()" class="margin-top-20">ĐĂNG NHẬP</button>

    </div>
  </div>
