<mat-toolbar>
  <mat-toolbar-row>
    <span>Team 7</span>
    <span class="title-bar-spacer"></span>
    <button mat-flat-button color="warn">Lưu</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="form">
  <mat-form-field appearance="outline">
      <mat-label>Tên tài khoản</mat-label>
      <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mật khẩu</mat-label>
    <input matInput>
</mat-form-field>
</div>
<button mat-flat-button color="warn" class="float-right">Thêm <i class="fas fa-plus"></i></button>
<div class="margin-bottom-50"></div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>