.title-bar-spacer {
  flex: 1 1 auto;
}


.mat-flat-button {
  margin: 0 3px 0 3px;
}

::ng-deep .row>div>button {
  width: 100%;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(30px);
}

::ng-deep .form>* {
  width: 100%;
}

.empty-list {
  height: calc(100% - 241px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size:16px;
  color: rgb(160, 160, 160);
}
