<div [ngClass]="isMobile ? '':'content-desktop'">
<mat-toolbar>
  <mat-toolbar-row>
    <span>Quản lý nhóm</span>
  </mat-toolbar-row>
</mat-toolbar>
<button mat-flat-button color="light-blue" (click)="openDialogAddTeam()" class="btn-huge-large">Thêm nhóm <mat-icon
    class="btn-icon-large">group_add</mat-icon></button>
<mat-divider></mat-divider>

<div *ngIf="teams">
  <div *ngFor="let team of teams">
    <app-class [team]="team" (isDelete)="delete($event)"></app-class>
  </div>
</div>
<div *ngIf="teams.length === 0" class="empty-list">
  <div>{{ message.message.have_not_team }}</div>
</div>


</div>