.form>* {
  width: 100%;
}

.user-access-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}

/* ::ng-deep div.mat-form-field-wrapper {
  padding-bottom: 7px !important;
} */

.mat-checkbox {
  font-size: 14px;
  color: #737373;
}

.forgot-password {
  font-size: 14px;
  color: rgb(46, 144, 255);
  text-decoration: none;
  float: right;
  line-height: 24px;
}

.forgot-password:hover {
  text-decoration: underline;
}
button {
  font-size: 13px;
}
.reg-link > a{
  text-decoration: none;
  color: rgb(46, 144, 255);
}
.reg-link > a:hover{
  text-decoration: underline;
}
::ng-deep html {
  background: url(./../../../../assets/minimalist-windows-10-wallpaper-8436120.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(3,17,66);
}
@media screen and (max-width: 480px) {
  ::ng-deep html {
    background: white;
  }
}
.login-button{
  font-size: 18px;
  height: 70px;
}