<button mat-icon-button color="white" style="width: 30px;height: 30px;" class="float-right margin-top-down-10"
  [mat-dialog-close]>
  <mat-icon class="margin-top-down-10">
    clear
  </mat-icon>
</button>
<h1 mat-dialog-title>
  <i class="fas fa-info-square margin-right-5"></i> Chi tiết lịch:
  <span class="hightlight-title">{{ data.schedule.title }}</span>
</h1>
<div class="row detail-content">
  <div class="col-xs form">
    <!-- <mat-form-field appearance="outline">
      <mat-label>Nhóm</mat-label>
      <input matInput placeholder="Placeholder" [value]="data.schedule.title">
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Nhóm</mat-label>
      <mat-select [(value)]="currentTeam">
        <mat-option *ngFor="let team of teams" [value]="team">{{
          team.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Giáo án</mat-label>
      <mat-select [(value)]="currentLesson.id">
        <mat-option *ngFor="let lesson of Lessons" [value]="lesson.id">{{
          lesson.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex-box">
      <ngb-timepicker [(ngModel)]="startTime" [meridian]="false"></ngb-timepicker>
      <span class="hour"> <i class="fas fa-arrows-alt-h"></i> </span>
      <ngb-timepicker [(ngModel)]="endTime" [meridian]="false"></ngb-timepicker>
    </div>
  </div>
  <div class="col-xs">
    <ngb-datepicker [(ngModel)]="currentScheduledDate" [startDate]="currentScheduledDate"></ngb-datepicker>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-9">
    <button mat-flat-button class="full-width" color="light-blue" (click)="openConfirmBox()">
      Lưu
    </button>
  </div>
  <div class="col-md-3">
    <button mat-flat-button color="warn" class="full-width" (click)="clearSchedule()">
      Xóa
    </button>
  </div>
</div>