<div class="my-version-box">
  <div class="my-header-version-box padding-bottom-10">
    <img src="../../../../assets/login-logo.svg" class="logo" />
    <h2 class="my-title">Swim tracker</h2>
  </div>
  <div class="my-body-version-box">
    <h3 class="my-version"> {{ version.name }}</h3>
    <h4 class="my-version-des margin-top-15">
      {{ version.description }}
    </h4>
    <br>
    <h5 class="my-version-number">Webservice : {{ version.front_version }}</h5>
    <h5 class="my-version-number">Front-end : {{ version.back_version }}</h5>
  </div>
  <div class="my-footer-version-box">
    <h5 class="my-cpr">Copyright @ Enclave team - 2019</h5>
  </div>
</div>
