<div class="my-version-box">
  <div class="my-header-version-box">
    <img src="../../../../assets/login-logo.svg" class="logo" />
    <h2 class="my-title">Swim tracker</h2>
  </div>
  <div class="my-body-version-box">
    <h2 class="my-version"> {{ version.name }}</h2>
    <h5 class="my-version margin-top-15">
      {{ version.description }}
    </h5>
    <br>
    <h5 class="my-version">Webservice : {{ version.front_version }}</h5>
    <h5 class="my-version">Front-end : {{ version.back_version }}</h5>
  </div>
  <div class="my-footer-version-box">
    <h5 class="my-cpr">@ Enclave team - 2019</h5>
  </div>
</div>
