<h1 mat-dialog-title><i class="fal fa-edit"></i> Tạo lịch mới</h1>

<div mat-dialog-content>
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>Chọn đội</mat-label>
      <mat-select [(ngModel)] = "schedule.team_id">
        <mat-option *ngFor="let team of teams" [value]="team.id"  on-click="onChangeTeam(team.name)">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Giáo án</mat-label>
      <mat-select [(ngModel)] = "schedule.lesson_id">
        <mat-option *ngFor="let lesson of lessons" [value]="lesson.id">{{lesson.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <ngb-datepicker #dp [(ngModel)]="dateModel"></ngb-datepicker>
    <div class="flex-box">
      <ngb-timepicker [(ngModel)]="startTime" [meridian]="false"></ngb-timepicker>
      <span class="hour" > <i class="fas fa-arrows-alt-h"></i> </span>
      <ngb-timepicker [(ngModel)]="endTime" [meridian]="false"></ngb-timepicker>
    </div>
  </div>
</div>
<div class="row margin-top-10">
  <div class="col-xs" style="padding-right: 10px;">
    <button mat-flat-button [mat-dialog-close]>Đóng</button>
  </div>
  <div class="col-xs end-xs">
    <button mat-flat-button color="light-blue" (click)="openMessageBox()">Tạo</button>
  </div>
</div>
