<h1 mat-dialog-title><i class="fal fa-edit"></i> Chỉnh sửa nhóm {{data.team.name}}</h1>
<div mat-dialog-content>
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>Tên nhóm</mat-label>
      <input matInput placeholder="Tên nhóm" [(ngModel)]="currentTeamName" (input)="onChange()" required/>
      <mat-error *ngIf="name.invalid && isSubmit">{{ message.error.name }}</mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lứa tuổi </mat-label>
      <input matInput type="number" placeholder="Lứa tuổi" [(ngModel)]="currentTeamAge" (input)="onChange()" required/>
      <mat-error *ngIf="age.invalid && isSubmit">{{ message.error.age }}</mat-error>

    </mat-form-field>
  </div>
</div>
<div class="row margin-top-10">
  <div class="col-xs" style="padding-right: 10px;">
    <button mat-flat-button [mat-dialog-close]>Đóng</button>
  </div>
  <div class="col-xs end-xs">
    <button mat-flat-button color="light-blue" [disabled]="isSaveBtnDisabled" (click)="updateTeam()">Lưu</button>
  </div>
</div>
