<div class="tab-bar flex">
    <a routerLink="/trainee/profiles" [ngClass]="currentUrl.includes('/trainee/profiles') ? 'flex-item-center tab-active' : 'flex-item-center'"
    matRipple>
    <div class="tab-icon">
      <i class="fas fa-user-circle"></i>
    </div>
    <span class="tab-title">{{user.username}}</span>
  </a>
  <a class="flex-item-center" matRipple>
    <div class="tab-icon">
      <i class="fas fa-users-class"></i>
    </div>
    <span class="tab-title">Nhóm</span>
  </a>
  <a class="flex-item-center" matRipple>
    <div class="tab-icon">
      <i class="far fa-calendar-day"></i>
    </div>
    <span class="tab-title">Giáo án</span>
  </a>
  <a class="flex-item-center" matRipple>
    <div class="tab-icon">
      <i class="far fa-newspaper"></i>
    </div>
    <span class="tab-title">Tin tức</span>
  </a>
</div>