<div class="tab-bar flex">
  <a routerLink="/trainee/profiles"
    [ngClass]="currentUrl.includes('/trainee/profiles') ? 'flex-item-center tab-active' : 'flex-item-center'" matRipple>
    <div class="tab-icon">
      <i class="fas fa-user-circle"></i>
    </div>
    <span class="tab-title">{{user.username}}</span>
  </a>
  <a routerLink="/trainee/stats"
    [ngClass]="currentUrl.includes('/trainee/stats') ? 'flex-item-center tab-active' : 'flex-item-center'" matRipple>
    <div class="tab-icon">
      <i class="fas fa-analytics"></i>
    </div>
    <span class="tab-title">Thống kê</span>
  </a>

  <a routerLink="/trainee/schedule"
    [ngClass]="currentUrl.includes('/trainee/schedule') ? 'flex-item-center tab-active' : 'flex-item-center'" matRipple matRipple>
    <div class="tab-icon">
      <i class="far fa-calendar"></i>
    </div>
    <span class="tab-title">Lịch học</span>
  </a>

  <a [ngClass]="currentUrl.includes('/trainee/library/techniques') || currentUrl.includes('/trainee/library/nutrition') ? 'flex-item-center tab-active' : 'flex-item-center'"
    [autoClose]="true" [ngbPopover]="subLibrary" class="flex-item-center" matRipple>
    <div class="tab-icon">
      <i class="fab fa-youtube"></i>
    </div>
    <span class="tab-title">Thư viện</span>
  </a>
  <ng-template #subLibrary>
    <mat-nav-list>
      <a mat-list-item routerLink="/trainee/library/techniques">
        <i class="fal fa-running margin-right-15"></i>Kỹ thuật
      </a>
      <a mat-list-item routerLink="/trainee/library/nutrition">
        <i class="fal fa-utensils margin-right-15"></i>Dinh dưỡng
      </a>
    </mat-nav-list>
  </ng-template>



</div>