<a class="lesson-link">
  <mat-card>
    <div class="row middle-xs">
      <div class="col-xs-3 center-xs">
        <img [src]="member.avatar || message.default.member.avatar" class="member-avatar" width="100%">
      </div>
      <div class="col-xs-9 reneral-info">
        <div class="lesson-title">Tên thành viên: {{ member.display_name || member.username}}</div>

        <div class="float-left">
            <div>Số điện thoại: {{formatPhoneNumber(member.phone) || message.default.member.phone}}</div>
            <div>Chiều cao: {{member.height || message.default.member.height}} (cm)</div>
            <div>Cân nặng: {{member.weight || message.default.member.weight}} (kg)</div>

        </div>
        <div class="float-right" *ngIf="isOut">
            <button mat-mini-fab color="warn" style="width: 40px"   matTooltip="Đề nghị chuyển lên lớp cao hơn">  
                <mat-icon>
                  trending_up
                </mat-icon>
                
            </button>
        </div>
      </div>

     
    </div>
    <div class="fullWidth margin-top-20">

      <canvas baseChart
      [datasets]="radarChartData"
      [options]="radarChartOptions"
      [labels]="radarChartLabels"
      [chartType]="radarChartType">
    </canvas>
    </div>
  </mat-card>

 
  </a>