<div class="lesson-link">
  <mat-card>
    <div class="row middle-xs">
      <div class="col-xs-3 center-xs">
        <img src="https://www.shareicon.net/data/2016/08/04/806837_sports_512x512.png" width="100%">
      </div>
      <div class="col-xs-6 reneral-info">
        <div class="lesson-title">Tên nhóm: {{ team.name }}</div>
        <div>Độ tuổi: {{ team.age }}</div>
        <a (click)="openListMember()"> Danh sách </a>
      </div>
      <div class="col-xs-3 center-xs">
        <button mat-flat-button color="success" (click)="edit()" class="margin-bottom-5">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
