<div class="lesson-link">
  <!-- <mat-card>
    <div class="row middle-xs">
      <div class="col-xs-3 center-xs">
        <img src="https://www.shareicon.net/data/2016/08/04/806837_sports_512x512.png" width="100%">
      </div>
      <div class="col-xs-6 reneral-info">
        <div class="lesson-title">Tên nhóm: {{ team.name }}</div>
        <div>Độ tuổi: {{ team.age }}</div>
        <a (click)="openListMember()"> Danh sách </a>
      </div>
      <div class="col-xs-3 center-xs">
        <button mat-flat-button color="success" (click)="edit()" class="margin-bottom-5">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card> -->

  <mat-expansion-panel disabled="true" [expanded]="panelOpenState">
    <mat-expansion-panel-header class="disableFont team-panel-header" [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
      <div class="col-xs-3 center-xs">
        <img src="https://www.shareicon.net/data/2016/08/04/806837_sports_512x512.png" width="100%">
      </div>
      <div class="col-xs-6 reneral-info class-comp">
        <div class="lesson-title">
          Tên nhóm: {{ team.name }}
          <button mat-icon-button class="sm-btn-edit">
            <mat-icon class="sm-icon-edit">edit</mat-icon>
          </button>
        </div>
        <div>Độ tuổi: {{ team.age }}</div>
        <button mat-flat-button color="success" class="sm-btn" (click)="addMember()" class="margin-bottom-5">
          <mat-icon class="sm-icon">person_add</mat-icon>
        </button>
        <button mat-stroked-button class="sm-btn" (click)="delete()">
          <mat-icon class="sm-icon">delete</mat-icon>
        </button>
      </div>
      <div class="col-xs-3 center-xs mid-collapse-btn">
        <button mat-icon-button class="collapse-icon-btn" (click)="togglePanel()">
          <mat-icon>list</mat-icon>
        </button>
      </div>

    </mat-expansion-panel-header>
    <mat-list class="mat-list-theme" role="list" *ngFor="let member of members.list_member">
      <app-member [member]="member"></app-member>
    </mat-list>
  </mat-expansion-panel>
  <div class="margin-bottom-10"></div>
</div>
