<div class="lesson-link animated slideInLeft fast" >
  <!-- <mat-card>
    <div class="row middle-xs">
      <div class="col-xs-3 center-xs">
        <img src="https://www.shareicon.net/data/2016/08/04/806837_sports_512x512.png" width="100%">
      </div>
      <div class="col-xs-6 reneral-info">
        <div class="lesson-title">Tên nhóm: {{ team.name }}</div>
        <div>Độ tuổi: {{ team.age }}</div>
        <a (click)="openListMember()"> Danh sách </a>
      </div>
      <div class="col-xs-3 center-xs">
        <button mat-flat-button color="success" (click)="edit()" class="margin-bottom-5">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card> -->
  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header class="disableFont team-panel-header">
      <div class="row">
        <div class="col-xs-4 center-xs">
          <img src="https://www.shareicon.net/data/2016/08/04/806837_sports_512x512.png" width="60%">
        </div>
        <div class="col-xs-8 reneral-info class-comp">
          <div class="lesson-title">
              <i class="far fa-users-class margin-right-5" style="color:rgb(177, 177, 177)"></i> {{ team.name }}
          </div>
          <div class="lesson-description">Độ tuổi: {{ team.age }}</div>
        </div>
        <!-- <div class="col-xs-3 center-xs mid-collapse-btn">
          <button mat-icon-button class="collapse-icon-btn" (click)="togglePanel()">
            <i class="far fa-clipboard-list-check fa-2x"></i>
          </button>
        </div> -->
      </div>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-xs-6 center-xs">
        <button mat-flat-button color="success" (click)="addMember()" class="width-full" matTooltip="Thêm thành viên">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
      <div class="col-xs-3 center-xs">
        <button mat-stroked-button color="primary" (click)="edit(team.id,team.name,team.age)" class="width-full" matTooltip="Sửa đổi thông tin nhóm">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="col-xs-3 center-xs">
        <button mat-stroked-button color="warn" (click)="delete(team.name)" class="width-full" matTooltip="Xóa nhóm">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-list class="mat-list-theme" role="list" *ngFor="let member of members; let i = index">
      <app-member [member]="member" [count]="i+1"></app-member>
    </mat-list>
  </mat-expansion-panel>
  <div class="margin-bottom-10"></div>
</div>
