<div class="tab-bar flex">


  <!-- manage user -->
  
  <a routerLink="/class/profiles"
    [ngClass]="currentUrl.includes('/class/profiles') ? 'flex-item-center tab-active' : 'flex-item-center'" matRipple>
    <div class="tab-icon">
      <i class="fas fa-user-circle"></i>
    </div>
    <span class="tab-title">{{user.username}}</span>
  </a>
  
  
  <!-- manage user -->

  <!-- manage team -->

  <a [autoClose]="true" [ngbPopover]="subTeams"
    [ngClass]="currentUrl.includes('/class/classes') ? 'flex-item-center tab-active' : 'flex-item-center'" matRipple>
    <div class="tab-icon">
      <i class="fas fa-users-class"></i>
    </div>
    <span class="tab-title">Nhóm</span>
  </a>
  <ng-template #subTeams>
    <mat-nav-list>
      <a mat-list-item routerLink="/class/classes/teams">
        <i class="fal fa-clipboard-list margin-right-15"></i>Quản lý nhóm
      </a>
      <a mat-list-item routerLink="/class/classes/members">
        <i class="fal fa-calendar-alt margin-right-15"></i>Quản lý thành viên
      </a>
    </mat-nav-list>
  </ng-template>
  <!-- manage team -->


  <!-- manage lesson plan -->

  <a class="flex-item-center" matRipple [autoClose]="true" [ngbPopover]="subExercises"
    [ngClass]="currentUrl.includes('/class/exercises') || currentUrl.includes('/class/schedule') || currentUrl.includes('/class/record') ? 'flex-item-center tab-active' : 'flex-item-center'">
    <div class="tab-icon">
      <i class="far fa-calendar-day"></i>
    </div>
    <span class="tab-title">Giáo án</span>
  </a>
  <ng-template #subExercises>
    <mat-nav-list>
      <a mat-list-item routerLink="/class/exercises">
        <i class="fal fa-clipboard-list margin-right-15"></i>Quản lý bài tập
      </a>
      <a mat-list-item routerLink="/class/schedule">
        <i class="fal fa-calendar-alt margin-right-15"></i>Lịch
      </a>
      <a mat-list-item routerLink="/class/record">
        <i class="fas fa-chart-line margin-right-15"></i>Kết quả
      </a>
    </mat-nav-list>
  </ng-template>

  <!-- manage lesson plan -->



  <a class="flex-item-center" matRipple [autoClose]="true" [ngbPopover]="subLib"
    [ngClass]="currentUrl.includes('/class/library/techniques') || currentUrl.includes('/class/library/nutrition') ? 'flex-item-center tab-active' : 'flex-item-center'">
    <div class="tab-icon">
      <i class="fab fa-youtube"></i>
    </div>
    <span class="tab-title">Thư viện</span>
  </a>
  <ng-template #subLib>
    <mat-nav-list>
      <a mat-list-item routerLink="/class/library/techniques">
        <i class="fal fa-running margin-right-15"></i> Kỹ thuật
      </a>
      <a mat-list-item routerLink="/class/library/nutrition">
        <i class="fal fa-utensils margin-right-15"></i> Dinh dưỡng
      </a>
    </mat-nav-list>
  </ng-template>
</div>