.outside-access-view {
  max-width: 768px;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 10%);
}
.mat-light-blue {
  background-color: #889aff;
  color: #fff;
}
.mat-success {
  background-color: #00c020;
  color: #fff;
}