.outside-access-view {
  max-width: 414px;
  width: 100%;
  margin-bottom: 10px;
}

.outside-view-desktop {
  max-width: 340px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 110px);
  margin: 0;
  margin-bottom: 10px;
  background: white;
  padding-bottom: 40px;
  border-radius: 7px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.25);
}
@supports (
  (-webkit-backdrop-filter: saturate(180%) blur(20px)) or
    (backdrop-filter: saturate(180%) blur(20px))
) {
  .outside-view-desktop {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(25px);
    backdrop-filter: saturate(180%) blur(25px);
  }
}
.mat-light-blue {
  background-color: #889aff;
  color: #fff;
}

.mat-success {
  background-color: #00c020;
  color: #fff;
}

.background {
  background: url(./../assets/d83c78835736bef8a0aa6e193416703e.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  height: 100%;
  display: block;
}

.self-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.big-center-logo {
  display: inline-block;
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-top: 15px;
}

.big-center-logo-desktop {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin-top: -55px;
  margin-bottom: 30px;
}
/* .mat-button, .mat-flat-button,.mat-stroked-button{
  border-radius: 50pt;
  line-height: 50px;
} */
