.outside-access-view {
  max-width: 414px;
  width: 100%;
  margin-bottom: 10px;
}

.outside-view-desktop {
  max-width: 340px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 110px);
  margin: 0;
  margin-bottom: 10px;
  background: white;
  padding-bottom: 40px;
  border-radius: 3px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
}

.mat-light-blue {
  background-color: #889aff;
  color: #fff;
}

.mat-success {
  background-color: #00c020;
  color: #fff;
}

::ng-deep body {
  background: url(./../assets/d83c78835736bef8a0aa6e193416703e.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.self-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.big-center-logo {
  display: inline-block;
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-top: 15px;
}
.big-center-logo-desktop{
  display: inline-block;
  width: 120px;
  height: 120px;  
  overflow: hidden;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin-top: -55px;
  margin-bottom:30px;
}