<h1 mat-dialog-title><i class="fas fa-calendar-day margin-right-5"
    style="color: rgb(231, 6, 164); margin-top: 1px;"></i> Lịch học ngày
  {{schedule?.day}}/{{schedule?.month}}/{{schedule?.year}}</h1>
<div mat-dialog-content>
  <ul class="list-group list-group-flush">
    <!-- <li class="list-group-item">
      Bài tập: <span class="title-bar-spacer "> </span>{{ record?.exercise.name || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Huấn luyện viên: </span><span class="title-bar-spacer "></span><i
        class="fas fa-chalkboard-teacher margin-right-5" style="color: rgb(113, 37, 255); margin-top: 1px;"></i>
      {{ record?.exercise.user.display_name || 'Chưa có' }}
    </li> -->
    <li class="list-group-item">
      <span class="record-item-title">Giờ học</span><span class="title-bar-spacer "></span>
      <i class="fas fa-clock margin-right-5" style="color: rgb(100, 213, 247); margin-top: 1px;"></i>
      {{ convertTwoDigits(schedule?.start_hour) || 'Chưa có' }}:{{ convertTwoDigits(schedule?.start_minute) }} -
      {{ convertTwoDigits(schedule?.end_hour) || 'Chưa có' }}:{{ convertTwoDigits(schedule?.end_minute) }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Huấn luyện viên</span><span class="title-bar-spacer "></span>
      <i class="fas fa-chalkboard-teacher margin-right-5" style="color: rgb(0, 163, 22); margin-top: 1px;"></i>
      {{schedule?.user.display_name}}
    </li>
    <li class="list-group-item flex-space-between">
      <span class="record-item-title">Warm Up </span>
      <div>
        <div *ngFor="let exercisesWarmUp of exercises">
          <div *ngIf="exercisesWarmUp.type_id == 1"><i class="fas fa-fire margin-right-5"
              style="color: rgb(255, 95, 21); margin-top: 1px;"></i> {{exercisesWarmUp.name}}</div>
        </div>
      </div>
    </li>
    <li class="list-group-item flex-space-between">
      <span class="record-item-title">Main Stroke </span>
      <div>
        <div *ngFor="let exercisesWarmUp of exercises">
          <div *ngIf="exercisesWarmUp.type_id == 2"><i class="fas fa-swimmer margin-right-5"
              style="color: rgb(51, 139, 255); margin-top: 1px;"></i> {{exercisesWarmUp.name}}</div>
        </div>
      </div>
    </li>

    <li class="list-group-item flex-space-between">
      <span class="record-item-title">Final Set:</span>
      <div style="width: 100%">
        <div style="float:right;">
          <div *ngFor="let exercisesWarmUp of exercises">
            <div *ngIf="exercisesWarmUp.type_id == 3">
              <i class="fas fa-exclamation margin-right-5" style="color: rgb(252, 150, 34); margin-top: 1px;"></i>
              {{exercisesWarmUp.name}}
              <a [href]="apiUrl+'/miband'+'/'+schedule.coach_id+'/'+user.id+'/'+schedule.id+'/'+exercisesWarmUp.id"
                target="_blank" mat-icon-button>
                <i class="fas fa-heartbeat" style="color: red;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item flex-space-between">
      <span class="record-item-title">Swim Down</span>
      <div>
        <div *ngFor="let exercisesWarmUp of exercises">
          <div *ngIf="exercisesWarmUp.type_id == 4"><i class="fas fa-swimming-pool margin-right-5"
              style="color: rgb(0, 164, 175); margin-top: 1px;"></i> {{exercisesWarmUp.name}}</div>
        </div>
      </div>
    </li>
    <!-- <li class="list-group-item">
      <span class="record-item-title">Warm Up: </span><span class="title-bar-spacer "></span>
      {{ record?.exercise.reps || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Kiểu bơi: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-swimmer margin-right-5" style="color: rgb(130, 130, 247); margin-top: 1px;"></i>
      {{ record?.exercise.style || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Nhịp tim: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-heartbeat margin-right-5" style="color: tomato; margin-top: 1px;"></i>
      {{ record?.heart_rate || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Thời gian: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-stopwatch margin-right-5" style="color: orange; margin-top: 1px;"></i>
      {{ record?.time_swim || 'Chưa có' }}
    </li> -->

  </ul>
</div>
<button mat-stroked-button class="full-width margin-top-10" [mat-dialog-close]>
  Đóng
</button>