.title-bar-spacer {
  flex: 1 1 auto;
}

.list-group-item {
  display: flex;
}

::ng-deep .cdk-overlay-pane {
  margin: 0 auto !important;
}

.record-item-title {
  white-space: nowrap;
  margin-right: 10px;
}
.flex-space-between {
  justify-content: space-between;
  flex-flow: row wrap;
}
