
<mat-toolbar class="schedule-box">
  <mat-toolbar-row>
    <span>Thời gian biểu</span>
    <span class="fill-remaining-space"> </span>
    <button mat-flat-button color="primary" (click)="openScheduleBox()" class="margin-right-10">
      Tạo lịch <i class="far fa-calendar-plus margin-left-15"></i></button>
    <!-- <button mat-flat-button color="success" (click)="openCopyBox()" class="margin-left-10">
     Sao chép lịch <i class="far fa-swimmer  margin-left-15"></i></button> -->
  </mat-toolbar-row>
</mat-toolbar>
<div [ngClass]="isMobile ? 'schedule-box mobile-zoom' : 'schedule-box'">
  <mwl-calendar-week-view
  [viewDate]="viewDate"
  [events]="events"
  (eventClicked)="handleEvent('Clicked', $event.event)"
  [refresh]="refresh"
  [dayStartHour]="8"
  [dayEndHour]="20"
  weekStartsOn="1"
  > </mwl-calendar-week-view>
</div>
