<div class="row">
  <h2 class="title"> {{ title }}</h2>
</div>
<br />
<div class="row">
  <h3 class="message"> {{ message }} </h3>
</div>
<br />
<div class="full-width row" *ngIf="confirm">
  <div class="col-xs">
    <button class="margin-top-10 full-width" mat-raised-button color="fb-blue" (click)="cancel()">
      Đóng
    </button>
  </div>
  <div class="col-xs">
    <button class="margin-top-10 full-width" mat-raised-button color="ok-red" (click)="ok()">
      Đồng ý
    </button>
  </div>
</div>