<div [ngClass]="isMobile ? '' : 'content-desktop'">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Thành tích</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="row">
    <div class="col-xs">
      <ngb-datepicker [(ngModel)]="currentScheduledDate" [startDate]="currentScheduledDate" (click)="printout(currentScheduledDate)"></ngb-datepicker>
      <!-- <div ngbDropdown class="d-inline-block full-width">
        <button class="btn btn-outline-primary full-width" ngbDropdownToggle>
          {{currentSchedule.start_hour + ':' + currentSchedule.start_minute + ' - '
          + currentSchedule.day + '/'
          + currentSchedule.month + '/'
          + currentSchedule.year
          }}
        </button>
        <div ngbDropdownMenu class="record-drop-down">
          <button ngbDropdownItem *ngFor="let schedule of schedules" on-click="onChangeSchedule(schedule)">
            {{schedule.start_hour + ':' + schedule.start_minute + ' - '
            + schedule.day + '/'
            + schedule.month + '/'
            + schedule.year
            }}
          </button>
        </div>
      </div> -->
    </div>
    <div class="col-xs">
      <div ngbDropdown class="d-inline-block full-width">
        <button class="btn btn-outline-primary full-width" ngbDropdownToggle>
          {{currentLesson.name}}
        </button>
        <div ngbDropdownMenu class="record-drop-down">
          <button ngbDropdownItem *ngFor="let lesson of lessons" on-click="onChangeLesson(lesson)">
            {{lesson.name}}
          </button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block full-width">
        <button class="btn btn-outline-primary full-width" ngbDropdownToggle>
          <!-- {{currentLesson.name}} -->
        </button>
        <div ngbDropdownMenu class="record-drop-down">
          <button ngbDropdownItem on-click="onChangeFinalSet(lesson)">
            <!-- {{lesson.name}} -->
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <div *ngFor="let member of members">
    <app-single-record [member]="member" [currentSchedule]="currentSchedule"></app-single-record>
  </div>
  <button (click)="testAddRecord()"> aaa</button>
  <h3 class="empty-list"></h3>

</div>
