<h1 mat-dialog-title>Chi tiết kết quả #{{ record?.id }}</h1>
<div mat-dialog-content>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Bài tập: <span class="title-bar-spacer "> </span>{{ record?.exercise.name || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Ngày thực hiện: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-calendar-day margin-right-5" style="color: rgb(231, 6, 164); margin-top: 1px;"></i>
        {{record?.schedule.day}}/{{record?.schedule.month}}/{{record?.schedule.year}}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Huấn luyện viên: </span><span class="title-bar-spacer "></span><i
        class="fas fa-chalkboard-teacher margin-right-5" style="color: rgb(113, 37, 255); margin-top: 1px;"></i>
      {{ record?.exercise.user.display_name || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Cự li bơi: </span><span class="title-bar-spacer "></span><i
        class="fas fa-water margin-right-5" style="color: rgb(100, 213, 247); margin-top: 1px;"></i>
      {{ record?.exercise.distance || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Số lần lặp: </span><span class="title-bar-spacer "></span><i
        class="fas fa-repeat margin-right-5" style="color: rgb(0, 214, 143); margin-top: 1px;"></i>
      {{ record?.exercise.reps || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Kiểu bơi: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-swimmer margin-right-5" style="color: rgb(130, 130, 247); margin-top: 1px;"></i>
      {{ record?.exercise.style || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Nhịp tim: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-heartbeat margin-right-5" style="color: tomato; margin-top: 1px;"></i>
      {{ record?.heart_rate || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Thời gian: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-stopwatch margin-right-5" style="color: orange; margin-top: 1px;"></i>
      {{ record?.time_swim || 'Chưa có' }}
    </li>

    <li class="list-group-item">
      <span class="record-item-title">Thái độ: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-smile margin-right-5"
        style="color: rgb(0, 185, 77); margin-top: 1px;"></i>{{ record?.attitude || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Lỗi: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-exclamation-triangle margin-right-5" style="color: rgb(155, 0, 0); margin-top: 1px;"></i>
      {{ record?.errors || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Kết quả: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-poll-h margin-right-5"
        style="color: rgb(0, 108, 128); margin-top: 1px;"></i>{{ record?.result || 'Chưa có' }}
    </li>
    <li class="list-group-item">
      <span class="record-item-title">Ghi chú: </span><span class="title-bar-spacer "></span>
      <i class="fas fa-sticky-note margin-right-5"
        style="color: rgb(0, 175, 137); margin-top: 1px;"></i>{{ record?.note || 'Chưa có' }}
    </li>
  </ul>
</div>
<button mat-stroked-button class="full-width margin-top-10" [mat-dialog-close]>
  Đóng
</button>