.profiles-avatar {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    margin-bottom: 15px;
}

.form>* {
    width: 100%;
}

/deep/ .mat-dialog-title {
    margin-bottom: 5px !important;
}


.example-icon {
    padding: 0 14px;
}

.title-bar-spacer {
    flex: 1 1 auto;
}

/deep/ .mat-dialog-content {
    margin-bottom: 20px!important;
}
.message-is-verify {
    background-color: #ED344E ;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding-left: 40px
}
.upload-care {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.date-box {
    padding-left: 95px;
    margin-bottom: 25px;
}
.place-holder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-left: 5px;

}
.verify-logo {
    height: 30px;
    position: absolute;
    margin-left: 125px;
    margin-top: 15px;
}