.profiles-avatar {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    margin-bottom: 15px;
}

.form>* {
    width: 100%;
}

/deep/ div.mat-form-field-wrapper {
    padding-bottom: 7px !important;
}

/deep/ .mat-dialog-title {
    margin-bottom: 5px !important;
}

/deep/ .row>div {
    padding-left: 0;
    padding-right: 0;
}

.example-icon {
    padding: 0 14px;
}

.title-bar-spacer {
    flex: 1 1 auto;
}

/deep/ .mat-dialog-content {
    margin-bottom: 20px!important;
}
