.display-none {
  display: none;
}

::ng-deep .text-align-right > .filter-option > .filter-option-inner > .filter-option-inner-inner{
  text-align: right;
}
::ng-deep select.bs-select-hidden, .bootstrap-select > select.bs-select-hidden, select.selectpicker {
  display: block !important;
}
.btn-touch {
  height: 50px;
}
.title-bar-spacer {
  flex: 1 1 auto;
}