<div class="row margin-bottom-0">
  <div class="col-6">
    <select class="form-control">
      <option selected disabled>Chọn năm</option>
      <option>Large select</option>
      <option>Large select</option>
      <option>Large select</option>
    </select>
  </div>
  <div class="col-6">
    <select class="form-control">
      <option selected disabled>Chọn bài tập</option>
      <option>Large select</option>
      <option>Large select</option>
      <option>Large select</option>
    </select> 
  </div>
</div>
<canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
  [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
  (chartClick)="chartClicked($event)"></canvas>
