
::ng-deep .compact-form>div>div>.mat-form-field-infix {
  width: auto;
}

.compact-form {
  width: 100%;
}

::ng-deep .seprate-form>div>div {
  padding-left: 5px;
  border-left: 1px solid #a5a5a5;
}

.fix-height-compact {
  height: 39px;
}
