<mat-card class="margin-bottom-10 animated fadeInLeft fast">
  <div class="row">
    <div class="col-3">
      <img src="https://image.flaticon.com/icons/png/512/1090/1090671.png" height=45>
    </div>
    <div class="col-9">
      <mat-card-title><i class="far fa-users-class margin-right-5" style="color:rgb(177, 177, 177)"></i>
        {{currentSchedule.team_name}}</mat-card-title>
      <mat-card-subtitle>{{member.username}} ({{member.display_name || not_available}})</mat-card-subtitle>
    </div>
  </div>
  <mat-card-content>
    <br />
    <div class="row">
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Min heart rate" [(ngModel)] = "record.min_hr">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Max heart rate"  [(ngModel)] ="record.max_hr">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Heart rate"  [(ngModel)] ="record.heart_rate">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Min time"  [(ngModel)] ="record.min_time">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Max time"  [(ngModel)] ="record.max_time">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Swim time"  [(ngModel)] ="record.time_swim">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-9 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Errors"  [(ngModel)] ="record.errors">
        </mat-form-field>
      </div>
      <div class="col-3 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Result"  [(ngModel)] ="record.result">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-5 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Attitude"  [(ngModel)] ="record.attitude">
        </mat-form-field>
      </div>
      <div class="col-7 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Notes"  [(ngModel)] ="record.note">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
