<mat-card class="margin-bottom-10">
  <div class="row">
    <div class="col-3">
      <img src="https://image.flaticon.com/icons/png/512/1090/1090671.png" height=45>
    </div>
    <div class="col-9">
      <mat-card-title>{{team_name}}</mat-card-title>
      <mat-card-subtitle>{{user.user_name}}</mat-card-subtitle>
    </div>
  </div>
  <mat-card-content>
    <br />
    <div class="row">
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Min heart rate">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Max heart rate">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Heart rate">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Min time">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Max time">
        </mat-form-field>
      </div>
      <div class="col-xs padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Swim time">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-9 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Errors">
        </mat-form-field>
      </div>
      <div class="col-3 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Result">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-5 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form">
          <input matInput placeholder="Attitude">
        </mat-form-field>
      </div>
      <div class="col-7 padding-left-0 padding-right-0 fix-height-compact">
        <mat-form-field class="compact-form seprate-form">
          <input matInput placeholder="Notes">
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
